<h1><%= @character.name %></h1>
<h3><a href="/characters/<%= @character.id %>/edit">(edit)</a> </h3>
<h2><%= @character.house.manor %></h2>
<div class="character">
  <%= image_tag @character.img_url %>
</div>
